<div class="container-team-index">
  <div class="line">
    <h1 class="m-5 mb-2 ms-0"><%= current_user.organization.name %></h1>
  </div>

  <div class="d-flex flex-wrap">
    <% @teams.each do |team| %>
      <%= link_to team_path(team), class:'text-decoration-none text-dark' do %>
        <div class="card-background team-card">
          <div class="top-card-banner">
            <p class="team-title" style="background-color: rgb(<%= 200 + rand(56) %>, <%= 200 + rand(56) %>, <%= 200 + rand(56) %>);">
              <%= team.name.upcase %>
            </p>
          </div>
          <div class="card-team-container">
            <div class="row">
              <% team.plans.first(7).each do |plan| %>
                <div class="col-3">
                  <% if plan.tool.logo.attached? %>
                    <%= cl_image_tag plan.tool.logo.key, class: "software-icon" %>
                  <% else %>
                    <%= image_tag "default-logo.jpg", class: "software-icon" %>
                  <% end %>
                </div>
              <% end %>
              <div class="col-3">
                <p class="software-counter-icon">+<%= (team.tools.count - 7) %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
