<div class="container-team-index">
  <div class="line">
    <h1 class="m-5 mb-2 ms-0"><%= current_user.organization.name %> teams</h1>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <% @teams.each do |team| %>
      <%= link_to team_path(team), class:'text-decoration-none text-dark' do %>
        <div class="card-background team-card">
          <div class="top-team-card-banner">
            <p class="team-title" style="background-color: rgb(<%= random_rgb_color %>);">
              <%= team.name.upcase %>
            </p>
          </div>
          <div class="card-team-container">
            <div class="row">
              <% team.tools.first(7).each do |tool| %>
                <div class="col-3">
                  <% if tool.logo.attached? %>
                    <%= cl_image_tag tool.logo.key, transformation: [{ crop: "lfill", width: 110, height: 110, quality: "auto", fetch_format: "auto"},  {radius: 10}], class: "software-icon" %>
                  <% else %>
                    <%= image_tag "default-logo.jpg", class: "software-icon" %>
                  <% end %>
                </div>
              <% end %>
              <% if team.tools.count == 0 %>
                <div class="col-12 justify-content-center">
                  <p class="">No tools in this team</p>
                </div>
              <% elsif team.tools.count > 7 %>
                <div class="col-3">
                  <p class="software-counter-icon">+<%= (team.tools.count - 7) %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
