<div class="m-5">
  <div class="d-flex justify-content-between">
    <div class="team-name-card">
      <h2 class="mb-3 fw-bold"> <%= @team.name %> Team</h2>
      <p class="mb-3"> Managed by Frankie Sullivan</p>
      <h3><b>300$ / month</b></h3>
      <%= image_tag "default-pp.jpg", class: "fixed-img-card" %>
    </div>
     <%= link_to "Back to all teams", teams_path, class: "text-dark fs-5 align-self-end" %>
  </div>

  <div data-controller="navbar">
    <%= render "shared/account_navbar", active_tab: 'members', display_selector: true%>

    <div data-navbar-target="membersPart">
      <% @team.users.each do |member| %>
       <%= render "shared/members", member: member, display_selector: true %>
      <% end %>
    </div>

    <div data-navbar-target="toolsPart" class='d-none'>
      <div class="d-flex flex-wrap ms-5">
        <% @licenses.each do |license| %>
          <% if license.end_date == nil
            @active = false
          else
            @active = true if license.end_date < Date.today
          end%>
          <%= render 'shared/tool_stack_card', license: license, scope: license.scope, active: @active %>
        <% end %>
      </div>
    </div>

    <div data-navbar-target="licensesPart" class='d-none'>
      <div class="d-flex flex-wrap ms-5">
        <% @licenses.each do |license| %>
          <%= render 'shared/license_card', license: license, scope: license.scope %>
        <% end %>
      </div>
    </div>
  </div>

</div>
