<div class="m-5">

  <!-- CARD -->
  <div class="d-flex justify-content-between">
    <div class="team-name-card">
      <h2 class="mb-3 fw-bold"> <%= @team.name %> Team</h2>
      <% if @team.users.where(role: "Manager").empty? %>
        <p class="mb-3"> Founder panel </p>
      <% else %>
        <% manager = @team.users.where(role: "Manager").first %>
        <p class="mb-3"> Managed by <%= manager.first_name + " " + manager.last_name %> </p>
      <% end %>
      <h3><b><%= @team.cost %>€ / month</b></h3>
      <%= image_tag "default-pp.jpg", class: "fixed-img-card" %>
    </div>
     <%= link_to "View all teams", teams_path, class: "nav-links fs-5 align-self-end" %>
  </div>

  <!-- NAVBAR -->
  <div data-controller="navbar" class="controller">
    <%= render "shared/account_navbar", active_tab: 'members', display_selector: true %>

    <!-- MEMBERS PART -->
    <div data-navbar-target="membersPart" data-controller="member-subnavbar">
      <!-- Secondary Navbar -->
      <div class="d-flex justify-content-between align-items-center pb-5 px-5">
        <!-- Buttons -->
        <div class="d-flex gap-3">
          <button class="btn btn-outline-warning active" data-member-subnavbar-target="coming" data-action="click->member-subnavbar#setComing">Coming</button>
          <button class="btn btn-outline-success" data-member-subnavbar-target="active" data-action="click->member-subnavbar#setActive">Active</button>
          <button class="btn btn-outline-danger" data-member-subnavbar-target="gone" data-action="click->member-subnavbar#setGone">Gone</button>
        </div>
      </div>
      <!-- DATA -->
      <div class="d-flex flex-column gap-3 d-none" data-member-subnavbar-target="comingMembers">
        <% @team.users.coming.each do |member| %>
          <%= render "shared/members", member: member, display_selector: true %>
        <% end %>
      </div>
      <div class="d-flex flex-column gap-3 d-none" data-member-subnavbar-target="activeMembers">
        <% @team.users.active.each do |member| %>
          <%= render "shared/members", member: member, display_selector: true %>
        <% end %>
      </div>
      <div class="d-flex flex-column gap-3 d-none" data-member-subnavbar-target="goneMembers">
        <% @team.users.past.each do |member| %>
          <%= render "shared/members", member: member, display_selector: true %>
        <% end %>
      </div>
    </div>

  <!-- TOOLS -->
    <div data-navbar-target="toolsPart" class='d-none'>
      <div class="row justify-content-center">
        <% @active_tools.each do |tool| %>
          <div class="col-5 mx-auto">
            <%= render 'shared/tool_stack_card', tool: tool, plan: @plans_by_tool_id[tool.id] %>
          </div>
        <% end %>
      </div>
    </div>


    <!-- LICENSES -->
    <div data-navbar-target="licensesPart" data-controller="license-subnavbar" class='d-none'>
    <!-- secondary navbar  -->
      <div class="d-flex justify-content-between align-items-center pb-5 px-5">
    <!-- buttons -->
        <div class="d-flex gap-3">
          <button class="btn btn-outline-warning active" data-license-subnavbar-target="pending" data-action="click->license-subnavbar#setPending">Pending</button>
          <button class="btn btn-outline-success" data-license-subnavbar-target="approved" data-action="click->license-subnavbar#setApproved">Approved</button>
          <button class="btn btn-outline-danger" data-license-subnavbar-target="declined" data-action="click->license-subnavbar#setDeclined">Declined</button>
        </div>
    <!-- Toggle -->
        <div class="form-check form-switch" data-license-subnavbar-target="toggle" data-action="click->license-subnavbar#toggleToggle">
          <input class="form-check-input" type="checkbox" id="toggleSwitch">
          <label class="form-check-label" for="toggleSwitch">Active</label>
        </div>
      </div>
    <!-- data -->
      <div class="d-flex flex-wrap mx-5 d-none" data-license-subnavbar-target="pendingLicenses">
        <% @all_licenses.where(status: "Pending").each do |license| %>
          <%= render 'shared/license_card', license: license, past: false %>
        <% end %>
      </div>
      <div class="d-flex flex-wrap mx-5 d-none" data-license-subnavbar-target="approvedActiveLicenses">
        <% @all_licenses.where("licenses.start_date <= ? AND licenses.end_date > ?", Time.now, Time.now).where(status: "Approved").each do |license| %>
          <%= render 'shared/license_card', license: license, past: false %>
        <% end %>
      </div>
      <div class="d-flex flex-wrap mx-5 d-none" data-license-subnavbar-target="approvedPastLicenses">
        <% @all_licenses.where("licenses.start_date > ? OR licenses.end_date <= ?", Time.now, Time.now).where(status: "Approved").each do |license| %>
          <%= render 'shared/license_card', license: license, past: true %>
        <% end %>
      </div>
      <div class="d-flex flex-wrap mx-5 d-none" data-license-subnavbar-target="declinedLicenses">
        <% @all_licenses.where(status: "Declined").each do |license| %>
          <%= render 'shared/license_card', license: license, past: false %>
        <% end %>
      </div>
    </div>


    <!-- DASHBOARD -->
    <div data-navbar-target="dashboardPart" class='d-none'>
    <!-- cancelled
      <div class="d-flex flex-wrap mx-5 justify-content-center">
        <%= line_chart({"2025-01-01" => 5, Date.today => Tool.count}) %>
      </div>
     -->
    </div>

  </div>
</div>


<!-- MODALES -->

<!-- Modale Members -->
<div class="modal fade" id="membersModal" tabindex="-1" aria-labelledby="membersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="membersModalLabel">⚡ Add a member to your team</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <%= simple_form_for [@team, User.new] do |f| %>
            <div class="form-inputs">
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :email %>
              <% if current_user.role == "Founder" %>
                <%= f.input :role, collection: %w[Founder Manager Employee], selected: "Employee" %>
              <% elsif current_user.role == "Manager" %>
                <%= f.input :role, collection: %w[Employee], selected: "Employee" %>
              <% end %>
              <%= f.input :password %>
              <%= f.input :start_date, as: :string, required: true, input_html: { data: { controller: "datepicker-team-member" } } %>
              <%= f.input :end_date, as: :string, required: false, include_blank: true, input_html: { data: { controller: "datepicker-team-member" } } %>
            </div>
            <div class="form-actions text-center">
              <%= f.button :submit, "Add member", class: "btn btn-success mt-4 mb-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modale Tools -->
<div class="modal fade" id="toolsModal" tabindex="-1" aria-labelledby="toolsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="toolsModalLabel">⚙️ Add a tool to your team</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <%= simple_form_for [@team, Scope.new] do |f| %>
            <div class="form-inputs">
              <%= f.association :plan, collection: @remaining_team_plans.map.each {|plan| ["#{plan.tool.name}", plan.id]} %>
            </div>
            <div class="form-actions text-center">
              <%= f.button :submit, "Add tool", class: "btn btn-success mt-4 mb-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modale Remove -->
<% @team.users.each do |member| %>
  <div class="modal fade" id="<%= dom_id(member, :removeModal) %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> ⚡It's been a looooong daaaayy <%= member.first_name %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container mt-5">
            <%= simple_form_for member, method: :delete do |f| %>
              <div class="form-inputs">
                <%= f.input :end_date, as: :string, required: true, include_blank: true, input_html: { data: { controller: "datepicker-team-member-departure" } } %>
              </div>
              <div class="form-actions text-center">
                <%= f.button :submit, "Set departure", data: { turbo_confirm: "Are you sure?" }, class: "btn btn-success mt-4 mb-2" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
