<div class="m-5">
  <div class="d-flex justify-content-between">
    <div class="team-name-card">
      <h2 class="mb-3 fw-bold"> <%= @team.name %> Team</h2>
      <p class="mb-3"> Managed by Frankie Sullivan</p>
      <h3><b>300$ / month</b></h3>
      <%= image_tag "default-pp.jpg", class: "fixed-img-card" %>
    </div>
     <%= link_to "Back to all teams", teams_path, class: "text-dark fs-5 align-self-end" %>
  </div>

  <%= render "shared/account_navbar" %>
  <%= render "shared/members" %>
</div>
