<div class="orga-search-bar">
  <%= form_with(url: organization_path, method: :get, local: true, class: "d-flex", role: "search") do |form| %>
    <%= form.text_field :query, class: "form-control me-2 orga-search-field", style: "width: 500px;", placeholder: "Search a software...", aria_label: "Search" %>
    <%= form.submit "Search", class: "btn btn-outline-success" %>
  <% end %>
</div>

<div class="container mt-4">
  <div class="d-flex justify-content-between p-3 mx-5">
    <h3 class="m-0">Softwares availables</h3>
    <%= link_to "Back", root_path, class: "btn btn-dark" %>
  </div>

<div class="orga-card-container">
    <% @tools.pluck(:category).uniq.each do |category| %>
      <% tools_in_category = @tools.select { |tool| tool.category.include?(category) } %>
      <% unless tools_in_category.empty? %>
        <div class="mt-4 ms-4">
          <h5><b class="border-bottom"><%= category.upcase %></b></h5>
        </div>
        <div class="my-5">
          <div class="d-flex align-content-center flex-wrap">
            <% @tools.each do |tool| %>
              <%= render "shared/test_software_card", tool: tool %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
