<div class="orga-search-bar position-relative">
  <%= form_with(url: tools_path, method: :get, local: true, class: "d-flex", role: "search") do |form| %>
    <%= form.text_field :search, class: "form-control me-2 orga-search-field", style: "width: 500px;", placeholder: "Search a software...", aria_label: "Search" %>

    <button class="btn btn-outline-dark me-2" type="button" data-bs-toggle="collapse" data-bs-target="#categoryDropdown" aria-expanded="false" aria-controls="categoryDropdown">
      <i class="fa-solid fa-filter"></i>
    </button>
    <div class="collapse dropdown-menu-category p-3" id="categoryDropdown" style="z-index: 1000;">
        <%= form.collection_check_boxes :categories, ["Productivity", "Project Management", "Communication", "CRM"], :to_s, :to_s do |b| %>
          <div class="form-check">
            <%= b.check_box class: "form-check-input" %>
            <%= b.label class: "form-check-label" %>
          </div>
        <% end %>
    </div>

    <%= form.submit "Search", class: "btn btn-outline-success" %>
  <% end %>
</div>

<div class="container mt-4">

  <div class="d-flex justify-content-center p-3 ps-0 mx-5">
    <h3 class="m-0">Find your crush</h3>
  </div>

    <div class="orga-card-container">
      <div class="mt-4 ms-4">
        <h5><b class="border-bottom">Top 3 apps of the month</b></h5>
      </div>
      <div class="my-5">
        <div class="category-slider">
          <% best_tools = Tool.all
            .left_joins(:reviews)
            .select("tools.*, COALESCE(AVG(reviews.rating), 0) AS average_rating")
            .group("tools.id")
            .having("COALESCE(AVG(reviews.rating), 0) > 0")
            .order("average_rating DESC")
            .limit(3) %>
          <% best_tools.each do |tool| %>
            <%= render "shared/test_software_card", tool: tool, context: "marketplace" %>
          <% end %>
        </div>
      </div>
    </div>

  <% if params.present? %>

    <div class="orga-card-container">
      <% current_user.organization.tools.pluck(:category).uniq.each do |category| %>
        <% tools_in_category = @tools.select { |tool| tool.category.include?(category) } %>
        <% unless tools_in_category.empty? %>
          <div class="mt-4 ms-4">
            <h5><b class="border-bottom"><%= category.upcase %></b></h5>
          </div>
          <div class="my-5">
            <div class="category-slider">
              <% tools_in_category.each do |tool| %>
                <%= render "shared/test_software_card", tool: tool, context: "organization" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% else %>

    <div class="orga-card-container">
      <% @tools.pluck(:category).uniq.each do |category| %>
        <% tools_in_category = @tools.select { |tool| tool.category.include?(category) } %>
        <% unless tools_in_category.empty? %>
          <div class="mt-4 ms-4">
            <h5><b class="border-bottom"><%= category.upcase %></b></h5>
          </div>
          <div class="my-5">
            <div class="d-flex align-content-center flex-wrap">
              <% @tools.each do |tool| %>
                <%= render "shared/test_software_card", tool: tool %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>
