<div class="header shadow-sm d-flex align-items-start px-3 py-5 m-2" style="background: white; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <div class="medium-logo-rounded" style="width: 30%;">
    <% if @tool.logo.attached? %>
      <%= cl_image_tag @tool.logo.key, class: "img-fluid rounded-circle p-1" %>
    <% else %>
      <%= image_tag "default-logo.jpg", class: "img-fluid rounded-circle p-1" %>
    <% end %>
  </div>
  <div class="d-flex flex-column flex-grow-1 ms-5">
    <div class="d-flex align-items-center gap-2">
      <h5 class="me-4" style="font-size: 32px;"><%= @tool.name %></h5>
      <a href="<%= @tool.website %>" target="_blank" title="Aller sur le site !" style="font-size: 18px;">
        <i class="fa-solid fa-link me-2" style="font-size: 1.5em;"></i>
      </a>
      <% if @tool.reviews.any? %>
        <div class="d-flex align-items-center" style="font-size: 18px;">
          <span class="me-2"><%= @tool.reviews.average(:rating) %></span>
          <i class="fa-solid fa-star text-warning" style="font-size: 1.5em;"></i>
        </div>
      <% else %>
        <span class="me-1">No ratings</span>
      <% end %>


        <% if current_user.licenses.joins(:plan).exists?(plans: { tool_id: @tool }) %>
          <button type="button" class="btn btn-secondary disabled ms-auto me-4">
            You already have a licence for this tool
          </button>
        <% elsif current_user.organization.plans.exists?(tool_id: @tool) %>
          <button type="button" class="btn btn-success ms-auto me-4" data-bs-toggle="modal" data-bs-target="#licenseModal">
            Resquest for a licence
          </button>
        <% else %>
          <button type="button" class="btn btn-success ms-auto me-4" data-bs-toggle="modal" data-bs-target="#subModal">
            Subscribe to this tool
          </button>
        <% end %>


    </div>
    <p class="mt-3"><%= @tool.description %></p>
    <% category_tag = @tool.category.downcase.gsub(' ', '_') %>
    <div class="card category-tag <%= category_tag %> rounded-pill px-3 py-2" style="width: 200px;">
      <p class="m-0 text-center" style="font-size: 16px;"><%= @tool.category %></p>
    </div>
    <p class="mt-3"><%= @tool.long_description %></p>

    <!-- Formules Section - Aligner horizontalement avec taille fixe -->
    <div class="d-flex justify-content-center gap-3 mt-4 flex-wrap" data-controller="tool-modal">
      <% JSON.parse(@tool.formulas).to_a.each do |formula| %>
        <div class="card plan <%= "plan--custom" unless formula[0] != @plan_organization.formula[0] %> plan-hover px-4 py-3 shadow-sm m-3" style="width: 200px; height: 120px; display: flex; flex-direction: column; justify-content: center; align-items: center;"
          data-action="click->tool-modal#openModal"
          data-tool-modal-current-value="<%= @plan_organization.formula[0] %>"
          data-tool-modal-plan-value="<%= formula[0] %>"
          data-tool-modal-price-value="<%= formula[1] %>"
          >
        <% if formula[0] == @plan_organization.formula[0] %>
        <span style="position: absolute; top: 5px; right: 10px; color: black">
          <i class="fa-solid fa-check-double"></i>
        </span>
        <% end %>
          <p class="m-0 text-center fw-bold" style="font-size: 24px;"><%= formula[0] %></p>
          <p class="m-0 text-center text-muted" style="font-size: 16px;"><%= formula[1] %>€ / month</p>
        </div>
          <%= render 'shared/plan_details' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container w-100 my-5 mt-4">
  <h4 class="text-center m-3">Reviews</h4>
  <% if @tool.reviews.any? %>
    <div class="d-flex flex-column align-items-center rounded gap-3">
      <% @tool.reviews.each do |review| %>
        <div class="card shadow-sm p-4 d-flex flex-column bg-white" style="width: 80%; text-align: left; min-height: auto; border: none;">
          <div class="d-flex align-items-center mb-3">
            <%= image_tag("Kermit.JPG", width: "50", class: "rounded-circle me-3") %>
            <div>
              <div class="d-flex align-items-center" style="font-size: 18px;"><span class="fw-bold me-2"><%= review.username %></span><span class="text-muted" style="font-size: 14px;"><%= review.rating %>/5 <i class="fa-solid fa-star text-warning"></i></span></div>
            </div>
          </div>
          <p class="text-break text-muted" style="font-size: 16px;"><%= review.content %></p>
          <p class="text-muted text-end" style="font-size: 12px; font-style: italic;">Posted on <%= review.created_at %></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted text-center">This product has not been reviewed yet</p>
  <% end %>
</div>

<!-- Modale Subscription -->
<div class="modal fade" id="subModal" tabindex="-1" aria-labelledby="subModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="subModalLabel">⚙️ Request <%= @tool.name %> for your stack</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <%= simple_form_for Plan.new, url: tool_plans_path(@tool), method: :post do |f| %>
            <div class="form-inputs">
              <%= f.input :formula,
                as: :select,
                collection: JSON.parse(@tool.formulas).map { |key, value| [key, key] },
                prompt: "Choose a plan"
              %>
            </div>
            <div class="form-actions text-center">
              <%= f.button :submit, "Request", class: "btn btn-success mt-4 mb-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modale Licensing -->
<div class="modal fade" id="licenseModal" tabindex="-1" aria-labelledby="licenseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="licenseModalLabel">⚙️ Request <%= @tool.name %> for your stack</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <%= simple_form_for @tool do |f| %>
            <div class="form-actions text-center">
              <%= f.button :submit, "Request", class: "btn btn-success mt-4 mb-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
