<div class="header tool-header shadow-sm d-flex align-items-start px-3 pe-5">
  <div class="medium-logo-rounded mx-3" style="width: 30%;">
    <% if @tool.logo.attached? %>
      <%= cl_image_tag @tool.logo.key, class: "img-fluid rounded-circle p-1" %>
    <% else %>
      <%= image_tag "logos/default-logo.jpg", class: "img-fluid rounded-circle p-1" %>
    <% end %>
  </div>
  <div class="d-flex flex-column flex-grow-1 ms-3">
    <div class="d-flex align-items-center gap-1">
      <h5 class="me-4" style="font-size: 30px;"><%= @tool.name %></h5>
      <a href="<%= @tool.website %>" target="_blank" title="Aller sur le site !" style="font-size: 20px;">
        <i class="fa-solid fa-link me-2"></i>
      </a>
      <% if @tool.reviews.any? %>
        <div class="d-flex align-items-center" style="font-size: 20px;">
          <span class="me-2"><%= @tool.reviews.average(:rating) %></span>
          <i class="fa-solid fa-star text-warning"></i>
        </div>
      <% else %>
        <span class="me-1">No ratings</span>
      <% end %>
      <button class="btn btn-success ms-auto">Suscribe</button>
    </div>
    <p class="pt-3" style="font-size: 18px;"><%= @tool.description %></p>
    <div class="card bg-white rounded-pill px-3 py-2" style="display: inline-block; max-width: fit-content; border: none;">
      <p class="m-0 text-center fw-bold" style="font-size: 16px;"><%= @tool.category %></p>
    </div>
    <p class="pt-4" style="font-size: 18px;"><%= @tool.long_description %></p>

    <!-- Formules Section - Placé juste après long_description -->
    <div class="d-flex justify-content-center gap-5 mt-3 flex-wrap">
      <% JSON.parse(@tool.formulas).to_a.each do |formula| %>
        <div class="card bg-white px-4 py-3 shadow-sm" style="width: 200px; text-align: center; border: none;">
          <p class="m-0 text-center fw-bold" style="font-size: 24px;"><%= formula[0] %></p>
          <p class="m-0 text-center text-muted" style="font-size: 16px;"><%= formula[1] %>€ / month</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container tool-container w-100 my-5 mt-2">
  <h4 class="text-center p-3">Reviews</h4>
  <% if @tool.reviews.any? %>
    <div class="d-flex flex-column align-items-center gap-3">
      <% @tool.reviews.each do |review| %>
        <div class="card shadow-sm bg-white p-4 d-flex flex-column" style="width: 80%; text-align: left; min-height: auto; border: none">
          <div class="d-flex align-items-center mb-3">
            <%= image_tag("Kermit.JPG", width: "50", class: "rounded-circle me-3") %>
            <div>
              <div class="d-flex align-items-center" style="font-size: 18px;">
                <span class="fw-bold me-3"><%= review.username %></span>
                <span class="text-muted" style="font-size: 14px;"><%= review.rating %>/5 <i class="fa-solid fa-star text-warning"></i></span>
                </div>
            </div>
          </div>
          <p class="text-break text-muted" style="font-size: 16px;"><%= review.content %></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted text-center">This product has not been reviewed yet</p>
  <% end %>
</div>
