<div class="container">
  <div class="m-5">
    <div class="d-flex justify-content-between">
      <div class="team-name-card">
        <h2 class="mb-3 fw-bold"> <b><%= @user.first_name.capitalize %></b> <%= @user.last_name.upcase %></h2>
        <%= image_tag "default-pp.jpg", class: "fixed-user-img-card" %>
        <p class="mb-2"><i class="fa-solid fa-user-tie me-2"></i><%= @user.role %></p>
        <p class="mb-2"><i class="fa-solid fa-briefcase me-2"></i><%= @user.team.organization.name %></p>
        <p class="mb-2"><i class="fa-solid fa-people-group me-2"></i><%= @user.team.name %></p>
        <p><i class="fa-solid fa-envelope me-2"></i><%= @user.email %></p>
        <div class="d-flex justify-content-end <%= "d-none" unless @user.id == current_user.id %>">
          <%= link_to "Edit info", edit_user_registration_path, class: "btn btn-success me-2" %>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-dark" %>
        </div>
        <div class="d-flex flex-column"></div>
      </div>
      <div class="d-flex flex-column align-self-end">
        <%= link_to "View all collaborators", users_path, class: "fs-5 nav-links" %>
      </div>
    </div>

    <div data-controller="navbar">
      <%= render "shared/personnal_navbar", active_tab: "tools" %>

      <div data-navbar-target="toolsPart">
        <div class="d-flex flex-wrap justify-content-center">
          <% @tools.each do |tool| %>
            <%= render 'shared/tool_stack_card', tool: tool, plan: @plans_by_tool_id[tool.id] %>
          <% end %>
        </div>
      </div>

      <div data-navbar-target="licensesPart" class='d-none'>
        <div class="d-flex flex-wrap justify-content-center">
          <% @licenses.each do |license| %>
            <%= render 'shared/license_card', license: license %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modale Tools -->
<div class="modal fade" id="toolsModal" tabindex="-1" aria-labelledby="toolsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="toolsModalLabel">⚙️ Add a tool to your team</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <%= simple_form_for [@team, User.new] do |f| %>
            <div class="form-inputs">
              <%= f.input :first_name %>
              <%= f.input :role %>
            </div>
            <div class="form-actions text-center">
              <%= f.button :submit, "Add tool", class: "btn btn-success mt-4 mb-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Licenses -->
<div class="modal fade" id="licensesModal" tabindex="-1" aria-labelledby="licensesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="licensesModalLabel">📄 Add a subscription to your team</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <%= simple_form_for [@team, User.new] do |f| %>
            <div class="form-inputs">
              <%= f.input :first_name %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
            </div>
            <div class="form-actions text-center">
              <%= f.button :submit, "Add subscription", class: "btn btn-success mt-4 mb-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
