<div class="licence-card-background license-inline-card m-2 w-100">
  <div class="m-2 d-flex flex-s">
  <% if license.tool.logo.attached? %>
    <% if past == true %>
      <%= cl_image_tag license.tool.logo.key, transformation: [{ crop: "lfill", width: 70, height: 70, quality: "auto", fetch_format: "auto", effect: "grayscale"},  {radius: 10}], class: "img-fluid rounded-circle shadow-sm m-2" %>
    <% else %>
      <%= cl_image_tag license.tool.logo.key, transformation: [{ crop: "lfill", width: 70, height: 70, quality: "auto", fetch_format: "auto"},  {radius: 10}], class: "img-fluid rounded-circle shadow-sm m-2" %>
    <% end %>
  <% else %>
    <%= image_tag "default-logo.jpg", class: "img-fluid rounded-circle shadow-sm mb-3" %>
  <% end %>
  </div>

  <div class="license-inline-infos">
    <h5 class="card-title"><%= license.plan.tool.name %></h5>
    <p class="card-category"><%= license.plan.tool.category %></p>
    <p class="card-date"><%= license.end_date %></p>
  </div>

  <div class="license-inline-infos">
    <p class="formula-label">Formula</p>
    <p class="formula-name"><%= license.plan.formula[0].capitalize %></p>
    <p class="formula-price"><%= license.plan.formula[1] %> €</p>
  </div>

  <div class="<%= license.status == "Pending" ? "icon-as-btn" : "d-none" %>">
    <%= link_to accept_license_path(license), data: { turbo_method: :patch } do %>
      <i class="fa-solid fa-circle-check" id="accept-btn"></i>
    <% end %>
    <%= link_to reject_license_path(license), data: { turbo_method: :patch } do %>
      <i class="fa-solid fa-circle-xmark" id="reject-btn"></i>
    <% end %>
  </div>

  <div class="center-element justify-content-between">
    <% if license.user.picture.attached? %>
      <%= cl_image_tag license.user.picture.key, transformation: [{ crop: "lfill", width: 30, height: 30, quality: "auto", fetch_format: "auto"}, {radius: 30}], class: "img-footer" %>
    <% else %>
      <i class="fa-solid fa-user"></i>
    <% end %>
    <p class="user-name"><%= license.user.first_name %> <%= license.user.last_name %></p>
    <% sticker_status = "sticker-#{license.status.downcase}" %>
    <p class="sticker <%= sticker_status %>"><%= license.status %></p>
  </div>

  <div class="center-element">
    <p class="creation-date"><%= license.created_at.strftime("%B %d, %y") %></p>
  </div>
</div>
