<div class="card-background license-inline-card m-2">
    <div class="m-2 d-flex flex-s">
      <%= cl_image_tag license.tool.logo.key, transformation: [{ crop: "lfill", width: 70, height: 70, quality: "auto", fetch_format: "auto"},  {radius: 10}], class: "img-fluid rounded-circle shadow-sm m-2" %>
    </div>

    <div class="license-inline-infos">
      <h5 class="card-title"><%=license.plan.tool.name%></h5>
      <p><%=license.plan.tool.category%></p>
      <p><%=license.end_date%></p>
    </div>
    <div class="license-inline-infos">
      <p style="font-size: 10px">Formula</p>
      <p><%=license.plan.formula[0].capitalize%></p>
      <p><%=license.plan.formula[1]%> € </p>
    </div>
    <div class="center-element justify-content-end">
      <p class="m-0"><%= license.user.last_name %></p>
      <% sticker_status = "#{license.status.downcase}-sticker" %>
      <p class="sticker <%= sticker_status %> m-0 ms-3"><%=license.status%></p>
    </div>
    <div class="center-element">
      <p class="m-0"><%= license.created_at.strftime("%B %d, %y")%></p>
    </div>
</div>
