<div class="container">
    <div class="team-member-card">
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <%= link_to user_path(member) do %>
            <%= image_tag "default-pp.jpg", class: "avatar-large" %>
            <div class="ms-4 align-content-center">
              <div class="fw-bold">
                <%= member.first_name %>
                <%= member.last_name %>
              </div>
              <%= member.role %>
          <%end %>
          </div>
        </div>
        <div class="d-flex align-self-center pe-4">
          <%= member.end_date %>
          <em class="text-secondary"><%= member.start_date %></em>
        </div>
        <%= link_to "#", class: "icon-member" do %>
        <% if display_selector == true %>
          <div class="member-selector">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
</div>
