<div class="container">
  <div class="team-member-card">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <%= link_to user_path(member), class: "member-link" do %>
          <%= image_tag "default-pp.jpg", class: "avatar-large" %>
          <div class="ms-4 align-content-center">
            <div class="fw-bold member-name">
              <%= member.first_name %>
              <%= member.last_name %>
            </div>
            <div class="member-role">
              <%= member.role %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex align-self-center pe-4">
        <% if member.end_date.nil? == false %>
          <em class="text-secondary end-date">End date: <%= member.end_date %></em>
          <em class="text-secondary mx-2 separator"> | </em>
        <% end %>
        <em class="text-secondary start-date">Start date: <%= member.start_date %></em>
      </div>
      <% unless current_user.role == "Employee" %>
        <%= link_to "#", class: "icon-member", data: { bs_toggle: "modal", bs_target: "##{dom_id(member, :removeModal)}" } do %>
          <% if display_selector == true %>
            <div class="member-selector">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
