<%= link_to tool_path(tool) do %>
  <div class="card-background tool-stack-card">
      <div class="tool-stack-gray-part">
        <div class="mt-1">
          <%= cl_image_tag tool.logo.key, transformation: [{ crop: "lfill", width: 110, height: 110, quality: "auto", fetch_format: "auto"},  {radius: 10}], class: "img-fluid rounded-circle shadow-sm mb-3" %>
        </div>

        <% plan.teams.each do |team| %>
          <% random_opacity = rand(0.2..1.0).round(2) %>
          <% random_color = "rgba(115, 88, 223, #{random_opacity})" %>
          <p class="team-tag" style="background-color: <%= random_color %>"><%= team.name %></p>
        <% end %>
      </div>

      <div class='tool-stack-infos-part'>
        <p class='card-title'><%=tool.name%></p>
        <p><%=tool.start_date%> - <%=tool.end_date%> </p>
        <p><%=plan.formula[1]%> €/month </p>
        <%=link_to 'Destroy all licenses',  plan_archive_path(plan.id), class: "destroy-links" %>
      </div>
  </div>
<% end %>
