<!--
<%= image_tag "prank-500.png", class: "prank" %>

<%= image_tag "vieux.jpeg", class: "prank-hover" %>
-->

<div class="px-4 py-5 my-5 text-center">
  <%= image_tag "stackr-dark.svg", class: "d-block mx-auto mb-4", width:"72" %>
  <h1 class="display-5 fw-bold text-body-emphasis mb-5"><%= current_user.organization.name.upcase %></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-5">
      ADD SOME FUN HERE
      <%= area_chart @chart_data, xtitle: "Month", ytitle: "Tools Number", colors: ["#b00", "#666", "#00b"] %>
      <%= column_chart @cost_data, xtitle: "Month", ytitle: "Total Costs", colors: ["#b00", "#666", "#00b"] %>
      <%= line_chart @license_data, xtitle: "Month", ytitle: "Active Licenses", colors: ["#b00"] %>
      <%= pie_chart @category_data, title: "Tools by Categories" %>
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-success btn-lg px-4 gap-3">Primary button</button>
      <button type="button" class="btn btn-outline-success btn-lg px-4">Secondary</button>
    </div>
  </div>
</div>
