<div class="search-bar">
  <%= form_with(url: tools_path, method: :get, local: true, class: "d-flex m-3", role: "search") do |form| %>
    <%= form.text_field :query, class: "form-control me-2", placeholder: "Search a software...", aria_label: "Search" %>
    <%= form.submit "Search", class: "btn btn-outline-success" %>
  <% end %>
</div>

<div class="container mt-4">
  <div class="d-flex justify-content-between p-3 mx-5">
    <h3 class="m-0"><%= current_user.organization.name %> Stack</h3>
    <%= link_to "Back", root_path, class: "btn btn-dark" %>
  </div>

  <div class="orga-card-container">
    <% current_user.organization.tools.pluck(:category).uniq.each do |category| %>
      <div class="mt-4 ms-4">
        <h5><b class="border-bottom"><%= category.upcase %></b></h5>
      </div>
      <div class="my-5">
        <div class="category-slider">
          <% current_user.organization.tools.each do |tool| %>
            <% if tool.category.include?(category) %>
              <%= render "shared/test_software_card", tool: tool %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
